.searchResult {
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  width: 100%;
  min-height: 300px;
  margin-bottom: 4%;
  background-color: var(--color-3);
  overflow: hidden;
}

.searchResult .column {
  /* deixar ocupar 100 no mobile TODO */
  width: 80%;
  height: 100%;
}

.searchResult .header {
  background-color: var(--color-2);
  height: 60px;
  width: 100%;
  padding-left: 20px;
}

.searchResult .innerHeader {
  display: flex;
  line-height: 1.3;
  padding-top: 20px;
}

.searchResult .poster {
  /* height: 100%; */
  width: 20%;
  background-color: blueviolet;
  background-image: url('../assets/img/poster.PNG');
  background-size: cover;
  background-position: center;
}

.searchResult .title {
  /* margin-top: 15px; */
  font-size: var(--font-size-2);
  color: var(--color-1);
}

.searchResult .releaseDate {
  color: var(--color-4);
}

.searchResult .synopsis {
  padding-right: 30px;
  margin: 40px 0 0;
  max-height: 200px;
  line-height: 1.4;
  overflow-y: auto;
}

.searchResult .tags {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding-inline-start: 0;
  width: 50%;
}

.searchResult li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  margin: 2px 5px;
  padding: 0 10px 0;
  border: 1px solid var(--color-2);
  border-radius: 18px;
  background-color: white;
  color: var(--color-2);
}

@media (max-width: 600px) {
  .poster {
    display: none;
  }
  .column {
    width: 100% !important;
  }
}
